<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>
                [UC-Admin] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%logger{36}] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="jdbc.connection" level="OFF" additivity="false">
        <appender-ref ref="consoleAppender" />
    </logger>
    <logger name="jdbc.sqlonly" level="OFF" additivity="false">
        <appender-ref ref="consoleAppender" />
    </logger>
    <logger name="jdbc.sqltiming" level="INFO" additivity="false">
        <appender-ref ref="consoleAppender" />
    </logger>
    <logger name="jdbc.result" level="INFO" additivity="false">
        <appender-ref ref="consoleAppender" />
    </logger>
    <logger name="jdbc.resultsettable" level="OFF" additivity="false">
        <appender-ref ref="consoleAppender" />
    </logger>

    <root level="ERROR">
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>
